{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Social/assets/css/style.css') }}

{{ set_assets('applications/Social/assets/js/social.js') }}
{{ set_assets('applications/Social/assets/js/social_general.js') }}
{{ set_assets('applications/Social/assets/js/social_photos.js') }}
{{ set_assets('applications/Social/assets/js/social_videos.js') }}
{{ set_assets('applications/Social/assets/js/social_audios.js') }}
{{ set_assets('applications/Social/assets/js/social_events.js') }}
{{ set_assets('applications/Social/assets/js/social_like.js') }}
{{ set_assets('applications/Social/assets/js/social_sharing.js') }}
{{ set_assets('applications/Social/assets/js/social_comment.js') }}

{% set path_set = addTwigPath( "applications.Social.generalviews") %}

<div class="clearfix"></div>

{% include "social.main.top.menu.twig" ignore missing  %}

<div class="social-photolist">

    {% if items|length>0 %}
        {% for photo in items %}
           
            <div class="col-md-6">
                <div class="social-photo">
                    <img src="{{ resized_image(photo.media_id_file,150,150) }}" alt="{{ photo.title }}" title="{{ photo.title }}"/>
                </div>
            </div>
        {% endfor %}
          {% else %}
        <div class="no_posts_found">
            No Photo Found.
        </div>
    {% endif %}
</div>