{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Social/assets/css/style.css') }}

{{ set_assets('applications/Social/assets/js/social.js') }}
{{ set_assets('applications/Social/assets/js/social_general.js') }}
{{ set_assets('applications/Social/assets/js/social_photos.js') }}
{{ set_assets('applications/Social/assets/js/social_videos.js') }}
{{ set_assets('applications/Social/assets/js/social_audios.js') }}
{{ set_assets('applications/Social/assets/js/social_events.js') }}
{{ set_assets('applications/Social/assets/js/social_like.js') }}
{{ set_assets('applications/Social/assets/js/social_sharing.js') }}
{{ set_assets('applications/Social/assets/js/social_comment.js') }}

{% set path_set = addTwigPath( "applications.Social.generalviews") %}

<div class="clearfix"></div>

{% include "social.main.top.menu.twig" ignore missing  %}

<div class="social-group-addition">
    <a class="btn btn-default btn-sm" href="{{ generate_url('social.members') }}" title="Add Friend"> 
        <i class="fa fa-plus"></i>
        Add Friend
    </a>
    <div class="clr"></div>
</div>

<div class="social-members">
    {% if items|length > 0 %}
        {% for item in items %}

            {% set item_url =  generate_url('social.members.detail', {'user_id': item.social.user_id}) %}

            <div class="col-sm-6">
                
                <div class="social-member">

                    <img class="social-member-cover" src="{{ resized_image(item.social.cover_file, 500, 120) }}">

                    <a href="{{ item_url }}" title="{{ item.user.name }}">
                        <img class="social-member-avatar" src="{{ resized_image(item.social.avatar_file, 90,90) }}" alt="{{ item.user.name }}" title="{{ item.user.name }}">
                    </a>

                    <div>
                        <b>Name: </b>
                        <a href="{{ item_url }}" title="{{item.user.name}}">
                            {{ item.user.name|truncate(20)|default(' -- Not Provided -- ') }}
                        </a><br>
                        <b>Gender: </b> {{ item.social.gender }} <br>
                        <b>Location: </b> {{ item.social.city }} {{ item.social.country_id_name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no_posts_found">
            No Friend Found.
        </div>
    {% endif %}
</div>