{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Social/assets/css/style.css') }}
{{ set_assets('applications/Social/assets/js/social.js') }}

{% set path_set = addTwigPath( "applications.Social.generalviews") %}

{% include "social.main.top.menu.twig" ignore missing  %}
{{ include('social.cover.twig') }}
{{ include('social.menu.twig') }}

<div class="clearfix"></div>
<div class="social-body">
    <div class="col-md-3 social-left">
        {{ include('social.summary.twig') }}
    </div>
    <div class="social-postlist col-md-9">
        {% if user.id%}
            {{ include('social.postform.twig') }}
        {% endif %}
        {{ include('social.posts.twig') }}
    </div>
</div>