{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Social/assets/css/style.css') }}
{{ set_assets('applications/Social/assets/js/social.js') }}

{% include "social.main.top.menu.twig" ignore missing  %}
{{ include('social.cover.twig') }}
{{ include('social.menu.twig') }}

<div class="clearfix"></div>
<div class="social-body">
    <div class="col-md-3 social-left">
        {{ include('social.summary.twig') }}
    </div>
    <div class="social-eventlist col-md-9">
        <div class="social-event">

            {% if eventlist|length>0 %}
                {% for event in eventlist %}
                    <div class="col-md-6">
                        <div class="social-event">
                            {{ include('social.posts.content.event.twig') }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>