{# empty Twig template #}
{% import "form.macro.twig" as forms %}
{{ set_assets('applications/Social/assets/css/style.css') }}

{{ set_assets('applications/Social/assets/js/social.js') }}

{{ include('social.cover.twig') }}
{{ include('social.menu.twig') }}

<div class="clearfix"></div>

<div class="social-body">
    <div class="col-md-3 social-left">
        {{ include('social.summary.twig') }}
    </div>

    <div class="social-friendlist col-md-9">

        {% if friendlist|length>0 %}
            {% for friend in friendlist %}
                <div class="col-md-6">
                    <div class="social-friend">
                        <div class="social-friend-cover">
                            <img src="{{ resized_image(friend.cover,150,150) }}" alt="{{ friend.member_name }}" title="{{ friend.member_name }}"/>
                            <div class="clearfix"></div>
                        </div>
                        <div class="social-friend-avatar">
                            <img src="{{ resized_image(friend.avatar,90,90) }}"/>
                            <a class="social-friend-name"> {{ friend.member_name }}</a>
                        </div>
                        <div class="text-right">
                            <br>
                            <a class="btn btn-default btn-sm"> Add As Friend</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>