
{% if post.photos|length > 0 %}

    <div class="post-images">

        {% set main_width = '100%' %}
        {% set other_width = '100%' %}

        {% set main_height = '300px' %}
        {% set other_height = '300px' %}

        {% if post.photos|length==2 %}
            {% set main_width = '50%' %}
            {% set other_width = '50%' %}

            {% set main_height = '300px' %}
            {% set other_height = '300px' %}
        {% endif %}

        {% if post.photos|length==3 %}
            {% set main_width = '50%' %}
            {% set other_width = '50%' %}

            {% set main_height = '300px' %}
            {% set other_height = '150px' %}
        {% endif %}           


        {% if post.photos|length==4 %}
            {% set main_width = '100%' %}
            {% set other_width = '33%' %}

            {% set main_height = '300px' %}
            {% set other_height = '100px' %}
        {% endif %}  

        {% if post.photos|length==5 %}
            {% set main_width = '100%' %}
            {% set other_width = '25%' %}

            {% set main_height = '300px' %}
            {% set other_height = '100px' %}
        {% endif %} 

        {% if post.photos|length>0 %}

            <div class="post-image" style="width:{{ main_width }}; height:{{ main_height }};">
                <img src="{{ resized_image(post.photos.0.media_file, 300,300) }}" alt="{{ post.photos.0.media_title }}" title="{{ post.photos.0.media_title }}"/>
            </div> 

            {% for key,photo in post.photos %}
                {% if key > 0 and photo.media_file != '' %}
                    <div class="post-image" style="width:{{ other_width }}; height:{{ other_height }};">
                        <img src="{{ resized_image(photo.media_file, 300,300) }}" alt="{{ photo.media_title }}"  title="{{ photo.media_title }}"/>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endif %}

<div class="clearfix"></div>