<div class="user-wrapper">
    <a href="{{ generate_url('social.members.detail', {'user_id': post.user.id}) }}" title="{{ post.user.name }}">
        <img src="{{ resized_image(post.user.media_file, 150,150) }}" alt="{{ post.user.name }}" title="{{ post.user.name }}" align="left"/>
    </a>
    <span class="comment_user_name">
        <a href="{{ generate_url('social.members.detail', {'user_id': post.user.id}) }}" title="{{ post.user.name }}">
            {{ post.user.name }}
        </a>
    </span> added a Post.<br>
    <span class="comment_posted_time"> {{ post.date_created|timeago }}</span> 
    <div class="clearfix"></div>
</div>