

{% set params = { 'country_id': item.country_id, 'location_id': item.location_id  } %}


{% set country = callFunction( "Setup.Countries.Code.Models.CountriesModel", 'getCountriesInput') %}
{% set location = callFunction( "Setup.Regions.Code.Models.RegionsModel", 'getRegionsInput', params) %}
{% set countries_codes = callFunction( "Setup.Countries.Code.Models.CountriesModel", 'getCountriesCode', params) %}

{% set gender =
    {
        0:{'value':'male','text':'Male'},
        1:{'value':'female','text':'Female'}
    }
%}

{% set setting_date =
    {
        option:{'default':{'value':'','text':'Date'}}
    }
%}

{% set setting_month =
    {
        option:{'default':{'value':'','text':'Month'}}
    }
%}

{% set setting_year =
    {
        option:{'default':{'value':'','text':'Year'}}
    }
%}

<script>
    var location_id = '{{ item.location_id }}';
    var countries_codes
    = {{ countries_codes|json_encode()|raw }};
</script>


<h1> Edit Profile</h1>
<hr>

<form id="{{ main_form_id }}" class="form-horizontal" action="{{ generate_url('social.members.save') }}" method="post" role="form"  enctype="multipart/form-data">

    <div class="well well-sm"> Profile Images </div>
    <div>

        {% if action == '' or action == 'changepicture' %}
            <div class="form-group inviter_detail-group">
                <label for="inviter_detail" class="col-sm-3 control-label">Change Cover Photo</label>
                <div class="col-sm-9">
                    {{ forms.input('cover', 'file', item.cover) }}
                    <img src="{{ resized_image(item.cover_file, 48,48) }}" alt="{{ item.cover_title }}" title="{{ item.cover_title }}" >         
                </div>
            </div>
        {% endif %}

        {% if action == '' or action == 'changeavatar' %}
            <div class="form-group inviter_detail-group">
                <label for="inviter_detail" class="col-sm-3 control-label">Change Cover Avatar</label>
                <div class="col-sm-9">
                    {{ forms.input('avatar', 'file', item.avatar) }}
                    <img src="{{ resized_image(item.avatar_file, 48,48) }}" alt="{{ item.avatar_title }}" title="{{ item.avatar_title }}" width='48px'>         
                </div>
            </div>
        {% endif %}
    </div>

    {% if action == '' %}
        <div class="well well-sm"> Account Detail</div>
        <div>

            {% if separate_names %}
                {{ forms.input('first_name', 'text', user.first_name, 'First Name', null, null, null, not edit_name)  }}
                {{ forms.input('second_name', 'text', user.second_name, 'Last Name', null, null, null, not edit_name)  }}
            {% else %}
                {{ forms.input('name', 'text', user.name, 'Name', null, null, null, not edit_name)  }}
            {% endif %}

            {{ forms.input('username', 'text', user.username, 'Username', null, null, null, not edit_username)  }}

            {{ forms.input('email', 'text', user.email, 'Email', null, null, null, not edit_email)  }}

            {{ forms.input('gender', 'radio', item.gender, 'Gender', null, null, null, not edit_gender, gender)  }}


        </div>
        <div class="clearfix"></div>
    {% endif %}

    {% if action == '' %}
        <div class="well well-sm"> Personal Detail </div>
        <div>
            <div class="form-group inviter_detail-group">
                <label for="inviter_detail" class="col-sm-3 control-label">Your Date of Birth</label>
                <div class="col-sm-9">
                    {% if edit_dbo %}
                        {{ forms.input('date_arr', 'select', dob_date, null, null, null, null, null, date_arr, setting_date)  }} / 
                        {{ forms.input('month_arr', 'select', dob_month, null, null, null, null, null, month_arr, setting_month)  }} / 
                        {{ forms.input('year_arr', 'select', dob_year, null, null, null, null, null, year_arr, setting_year)  }}
                    {% else %}  
                        {{ item.dbo|date('d F Y') }}
                    {% endif %}           
                </div>
            </div>
            {{ forms.input('country_id', 'select', user.country_id, 'Your Country', null, null, null, not edit_country_id, country)  }}

            {{ forms.input('location_id', 'select', user.location_id, 'Your Location', null, null, null, not edit_location_id, location)  }}

            {{ forms.input('city', 'text', item.city, 'Your City/Town', null, null, null, not edit_city)  }}

            {{ forms.input('phone', 'text', user.phone, 'Your Mobile Phone', null, null, null, not edit_phone)  }}

            {{ forms.input('phone_code', 'hidden', user.phone_code)  }}
            {{ forms.input('phone_iso', 'hidden', user.phone_iso)  }}

        </div>
        <div class="clearfix"></div>
    {% endif %} 

    {{ forms.input('id', 'hidden', item.id)  }}

    {#
    <div class="col-md-offset-3 col-md-8 ">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
    </div>
    #}


    <div class="clearfix"></div>
    <div class="text-center registration-buttons">
        <input class="btn btn-success btn-sm" type="submit" name="submit" value="SAVE PROFILE" />
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger btn-sm">CANCEL</a> 
    </div>

    {{ forms.input('_token' ) }} 

</form>

